node_modules/
playwright-report/
test-results/
/.venv
dist/
.DS_Store
.idea/
.vscode/
coverage/
npm-debug.log
/.npm
auth.json
tests/auth.json
.github/chatmodes

# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/
